<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/styles.css"/>
<link id="hostStyle" rel="stylesheet" href="css/theme.css"/>
<title>Template Extension</title>
</head>
<body class="ps-cs6">
	<div class="if_base">
		<input type="text" id="str"><!--テキストインプットです。ここの内容をExtendscript側に渡せます。-->
	</div>
	<div class="if_base">
		<button id="aply">Apply</button><!--ボタンです。クリックするとmain.jsで書かれたファンクションを実行することが出来ます。-->
	</div>
<script src="js/libs/CSInterface-4.0.0.js"></script>
<script src="js/libs/jquery-2.0.2.min.js"></script>
<script src="js/themeSynchronizer.js"></script>
<script src="js/main.js"></script>
</body>
</html>